

/* Globales */
html {
    font-size: 62.5%; /* Resetear el font-size para ocupar REM a 10px*/
    box-sizing: border-box; /* Hack para boxmodel*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 16px; /* 1rem = 10px */
    background-color: black;
}
html, body {
height:100%;
margin:0;
display: flex;
flex-direction: column;
}
/* Fin de bloque Globales */

.container__flex {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container__flex .btn {
    cursor: pointer;
    padding: 2rem 5.5rem;
    background-color: gold;
    border: 1px solid goldenrod;
    color: black;
    border-radius: 1rem;
    margin: .5rem 1rem;
    font-size: 3rem;
    font-weight: 700;
}

.container__flex .btn:hover {
    background-color: yellow;
}
